p{
  color: rgb(60, 59, 59);
  font-size: 20px;
  font-family:'Times New Roman', Times, serif
}
.background{
  background-color: #5ad5e333;
}
.title{
  font-size: 45px;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
  color: rgb(60, 59, 59);
  text-align: center;
}
.oncliсk{
  cursor: pointer;
}
.icon{
  width: 20px;
  height: 20px;
}
